#.godot/
#.nomedia
#
#.import/
#export.cfg
#export_credentials.cfg
#*.tmp
#
#*.translation
#
#.mono/
#data_*/
#mono_crash.*.json
#
#build/
#*.apk
#*.exe
#*.zip
#
#.DS_Store
#Thumbs.db
#ehthumbs.db
#Desktop.ini
#$RECYCLE.BIN/
#.idea/
